/*
 * Custom code goes here.
 * A template should always ship with an empty custom.css
 */
 body.page-index #wrapper .container {
/* max-width: 100%;
width: 100%; */
/* padding-left: 0;
padding-right: 0; */
}

html { overflow-x: hidden; }

body.page-index #wrapper .featured-products,
body.page-index #wrapper .banner,
body.page-index #wrapper #custom-text{
margin-left: auto;
margin-right: auto;
padding-left: 15px;
padding-right: 15px;
}
@media (min-width: 992px) {
body.page-index #wrapper .featured-products,
body.page-index #wrapper .banner,
body.page-index #wrapper #custom-text{
max-width: 940px;
}
}
@media (min-width: 1200px) {
body.page-index #wrapper .featured-products,
body.page-index #wrapper .banner,
body.page-index #wrapper #custom-text{
max-width: 1140px;
}
}
@media (max-width: 991px) {
body.page-index #wrapper .featured-products,
body.page-index #wrapper .banner,
body.page-index #wrapper #custom-text{
max-width: 100%;
}
}

.carousel-control .icon-prev {
margin-left: 0;
}
.carousel-control .icon-next {
margin-right: 0;
}

#bannersection {
    position: relative;
    display: table;
    width: 100%;
    background: rgba(99,214,250,1);
    /* ms ( IE 10.0+ ) */
    background: -ms-radial-gradient(ellipse closest-side at 50% 50%, rgba(99,214,250,1) 0.14%, rgba(56,184,224,1) 99.61% );
    /* WebKit (Chrome 10.0+, safari 5.1+ )*/
    background: -webkit-radial-gradient(ellipse closest-side at 50% 50%, rgba(99,214,250,1) 0.14%, rgba(56,184,224,1) 99.61% );
    /* Moz ( Moz 3.6+ )*/
    background: -moz-radial-gradient(ellipse closest-side at 50% 50%, rgba(99,214,250,1) 0.14%, rgba(56,184,224,1) 99.61% );
    /* Opera ( opera 11.6+ )*/
    background: -o-radial-gradient(ellipse closest-side at 50% 50%, rgba(99,214,250,1) 0.14%, rgba(56,184,224,1) 99.61% );
    /* W3C Markup */
    background: radial-gradient(ellipse closest-side at 50% 50%, rgba(99,214,250,1) 0.14%, rgba(56,184,224,1) 99.61% );
    height: 100vh;
}
.bannercontent {
    display: table-cell;
    vertical-align: middle;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: normal;
    padding: 0 3%;
    position: relative;
}

#index #header{
	background:transparent;    
	position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 100;
}
#index #bannersection .carousel, #index #bannersection .carousel .carousel-inner{height:100vh;}
#index #bannersection .carousel{margin-bottom:0px;}
#index #bannersection .carousel .carousel-item .caption{bottom:auto;top:50%;left:50%;-webkit-transform: translate(-50%,-40%);transform: translate(-50%,-40%);text-align:center;}
#index #bannersection .carousel .carousel-item img{height:100vh;}
#header .header-nav{margin-bottom:10px;border-bottom:unset!important;}
/*#index #header a{color:#fff !important;}
#index .dropdown:hover .expand-more, #index .dropdown .expand-more{color:#fff !important;}
#index #header .language-selector .dropdown-menu a{color:#000 !important;}*/
#header .header-top{padding-bottom:0px;}
.carousel .carousel-item .caption{color:#000 !important;}
#wrapper{background:#fff;}
p{color:#000 !important;}
.breadcrumb{font-size:12px;}
#header .header-nav .blockcart{color:#414141;background: #f1f1f1 !important}
#header .header-nav .blockcart i{color:#414141 !important;}
/*.block-categories,.card, #search_filters, #search_filters_brands, #search_filters_suppliers{box-shadow:none !important;}*/
 #products .thumbnail-container, .featured-products .thumbnail-container, .product-accessories .thumbnail-container, .product-miniature .thumbnail-container{box-shadow:0px 0px 2px 0 rgba(0,0,0,.15) !important;}
 .search-widget form input[type=text]:focus{border:1px solid #2fb5d2 !important;outline:none !important;}
.block-category.card.card-block.hidden-sm-down{display:none !important;}
#products img, .featured-products img, .product-accessories img, .product-miniature img{margin-top:4px;}
.category-div{display:inline-block;width:100%;max-width:80%;}
.category-box{display:inline-block;width:23%;box-sizing:border-box;text-align:center;margin:0 1%;margin-bottom:0px;float:left;position:relative;}
.category-box .category-title{display:inline-block;width:100%;margin:5px 0;text-align:center;font-size:20px;color:#000;font-weight:100;}
.category-box a{font-size:13px;margin-top:20px;display:inline-block;position:relative;-moz-box-shadow: 5px 5px rgba(0,0,0,0);-webkit-box-shadow: 5px 5px rgba(0,0,0,0);
box-shadow: 5px 5px rgba(0,0,0,0);}
.category-box a:after{content: " ";position: absolute;width: 60%;height:8px;border-radius: 50%;left: 20%;bottom:36px;box-shadow: 0 30px 20px rgba(0, 0, 0, 0.3);transition:all ease 0.35s;}
.category-box:hover a:after{bottom:30px;box-shadow: 0 30px 20px rgba(0, 0, 0, 0.3);}
.category-box img{max-width:100%;transition:all ease 0.35s;position:relative;top:0px;transform:scale(0.96);}
.category-box:hover img{top:-10px;transform:scale(1);}

#custom-text{padding:10px !important;}
#footer{border-top:1px solid #ddd;padding-top:3rem;margin-top:3rem;background:#ddd;}
#footer .footer-container{background:#fff;}
#footer .block-social li{background-color:#a9a9a9;}
#footer .block-social li:hover{background-color:#2fb5d2;}
.block_newsletter p#block-newsletter-label{font-size: 20px;line-height: 24px;text-transform: uppercase;font-weight: bold;}
.block_newsletter p{font-size:12px;}
#custom-text{position: absolute;background: transparent;bottom:0px;left:0px;width:100%;margin-bottom:0px !important;padding-bottom:0px !important;text-align:center;}
.header-top .col-md-10.col-sm-12.position-static .menu, /*#_desktop_user_info{display:none !important;}*/

#product #content{max-width: none !important;}
#product .social-sharing, #product #block-reassurance{display:none;}
#index #search_widget{position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;}
#index #search_widget input[type="text"] {width: 50%;
    min-height: 55px;
    border-radius: 8px;
    box-shadow: 0px 5px 5px 0px #dedcdc;}
#index #bannersection .direction{display:none;}
#index .carousel .carousel-item .caption{max-width: 100%;}
#index #search_widget button{display:none;}
#product .product-cover img, #product .tabs, #products .highlighted-informations, .featured-products .highlighted-informations, .product-accessories .highlighted-informations, .product-miniature .highlighted-informations{box-shadow:none !important;}
.header-top .container .row{display:flex;}
#header .header-top .col-md-10.col-sm-12.position-static{ display: flex;justify-content: flex-end;align-items: center;}
#index .products .comments_note span{display:none !important;}


.description-section{float:left;width:100%;}
.description-section .description,.description-section .healthbenefits,.description-section .othersays,.description-section .recipes{background:#fff;/*border:1px solid #F0F4F7;*/margin:0 0 15px 0;min-height:150px;text-align:left;float:left;width:100%;}

.description-section h3{font-size:20px;margin-bottom:15px;text-transform:uppercase;line-height:26px;text-align:center;}
.description-section ul{list-style:none;font-size: 14px;line-height: 24px;}
.description-section .othersays .videoframe{position: relative;padding-bottom: 56.25%;padding-top: 0px;height: 0;float:left;width:100%;}
.description-section .othersays .videoframe iframe{position: absolute;top: 0;left: 0;width: 100%;height: 100%;}

.description-section .left-icon{width:25%;float:left;}
.description-section .left-icon h3{box-sizing:border-box;padding:15px;letter-spacing:1px;}
.description-section .right-desp{width:75%;float:right;box-sizing:border-box;padding:15px;}

.description-section .right-desp, .description-section .left-icon{min-height:175px;}

.description-section .description .left-icon{/*background-color:#e1f4cc;*/background-image:url(../images/description.png);background-repeat:no-repeat;background-position:bottom center;}
.description-section .description .left-icon h3{color:#578e33;}
.description-section .healthbenefits .left-icon{/*background-color:#d6f0fb;*/background-image:url(../images/health.png);background-repeat:no-repeat;background-position:bottom center;}
.description-section .healthbenefits .left-icon h3{color:#0bb4e5;}
.description-section .recipes .left-icon{/*background-color:#ecd1d7;*/background-image:url(../images/recipe.png);background-repeat:no-repeat;background-position:bottom center;}
.description-section .recipes .left-icon h3{color:#911236;}
.description-section .othersays .left-icon{/*background-color:#d6cde2;*/}
.description-section .othersays h3{color:#34006f;text-align:center;padding-top:15px;}
.description-section .othersays .left-icon{min-height:unset;}

.description-section .healthbenefits .right-desp{background-image:url(../images/bodybuild.png);background-repeat:no-repeat;background-position:bottom right;}
.description-section .recipes .right-desp{background-image:url(../images/recipe-bg.png);background-repeat:no-repeat;background-position:bottom right;}
.description-section .right-desp hr{box-shadow:none;height:2px;border:0px;width:100%;float:left;margin-bottom:15px;}
.description-section .description .right-desp hr{background-color:#578e33;}
.description-section .healthbenefits .right-desp hr{background-color:#0bb4e5;}
.description-section .recipes .right-desp hr{background-color:#911236;}
.description-section .othersays .right-desp hr{background-color:#34006f;}

.description-section .description{border-top:1px solid #578e33;}
.description-section .healthbenefits{border-top:1px solid #0bb4e5;}
.description-section .recipes{border-top:1px solid #911236;}
.description-section .othersays{border-top:1px solid #34006f;}

.description-section .description p{margin-bottom:15px;font-size: 14px;line-height: 24px;}
#wrapper, .product-variants>.product-variants-item select, .bootstrap-touchspin, .btn-primary, .btn-secondary, .btn-tertiary{box-shadow:none !important;}
#product .tabs .nav-tabs{border-bottom:0px;}
/*#product .tabs .tab-pane{padding-top:0px;}*/
#product .product-quantity{display:block !important;}
#product .product-quantity .add, #product .product-quantity .qty{float:none;clear:left;display:block;margin-bottom:10px;min-height:45px;}
#product .product-quantity .qty{margin-bottom:25px;}
#product #main .col-md-7 h1{font-size:30px;}
#product #main .current-price{font-size:28px;}
#product .product-add-to-cart .control-label, #product .product-variants .control-label {text-transform:uppercase;}
#product .tabs .nav-tabs .nav-link.active, #product .tabs .nav-tabs .nav-link:hover{border-bottom:0px !important;}
#product .tab-pane #productCommentsBlock, #product .tab-pane .product-quantities{padding-top:20px;border-top:1px solid #ddd;}



/* 08-11-2018 */

.description-section .description p , .description-section ul {
    font-size: 16px !important;
}

.healthbenefits ul li  {
    margin-bottom: 15px;
    display: table;
}

.recipes ul li {
    margin-bottom: 15px;
    display: table; 
}

.healthbenefits ul li::before{
    display: table-cell;
    content: "";
    height: 25px;
    width: 30px;
    background-image: url(../images/wealth.png);
    background-repeat: no-repeat;
    background-position: 1px 5px;
    background-size: 18px;
}

.recipes ul li::before { 
    display: table-cell;
    content: "";
    height: 25px;
    width: 30px;
    background-image: url(../images/receipt.png);
    background-repeat: no-repeat;
    background-position: 1px 5px;
    background-size: 18px;
}

.product-quantity .input-group.bootstrap-touchspin {display: flex;}
.product-quantity .input-group.bootstrap-touchspin #quantity_wanted {text-align: center;height: 35px;}
.product-quantity .input-group.bootstrap-touchspin .quantity_wanted {display: block;width: 45px;height: 35px;}
.product-quantity .input-group.bootstrap-touchspin .input-group-btn {display: block;width: 45px;height: 35px;}
.product-quantity .input-group.bootstrap-touchspin .btn.btn-touchspin {height: 35px;width: 45px;background: #3a3a3a;font-size: 24px;padding: 0;}


/* 21-11-2018 start */
.product-miniature .thumbnail-container {
    height: 350px !important;
}
/* .product-miniature .product-description  {
    height: 128px !important;
} */
.product-miniature .product-description {
    height: auto !important;
    padding-bottom: 20px;
}
.remove-from-cart .material-icons.float-xs-left{
    transition:all ease-out 0.3s ;
}

.remove-from-cart .material-icons.float-xs-left:hover{
    transform: scale(1.2);
    color: #f78181;
}

#cart #block-reassurance {display: none !important;}

/* .category-box:nth-child(2)  {
 display:none !important ;
}
*/
.category-box:nth-child(3)  {
 display:none !important ;
} 

.category-div {
    display: flex !important ;
    justify-content: center !important;
    width: 100% !important;
    max-width: 80% !important ;
    margin: 0px auto !important;
}


/* 21-11-2018 end */

/* 03-12-2018 start */
@media only screen and (max-width:568px) {
    #cart .product-line-grid .input-group.bootstrap-touchspin {display: flex;}
}
@media only screen and (max-width:990px) {
    .category-box {width: 40% !important;}
}

/* 03-12-2018 end */

/* m */
.add-to-cart .ld.ld-ring.ld-spin-fast{ display: none; }
.add-to-cart .ld.ld-ring.ld-spin-fast{ display: inline-block; }
.add-to-cart .ld.ld-ring.ld-spin-fast{ opacity: 1; z-index: auto; height: 16px; width: 16px; background: url('./reload.png') no-repeat; -webkit-animation:ld-spin-fast 1s infinite;animation:ld-spin-fast 1s infinite }

@keyframes ld-spin-fast{
    0%{
        -webkit-transform: rotate(-359deg);
        transform: rotate(-359deg);
    }
    100%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

@-webkit-keyframes ld-spin-fast{
    0%{
        -webkit-transform: rotate(-359deg);
        transform: rotate(-359deg);
    }
    100%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}


/* 08-11-2018 end */
		
@media only screen and (max-width:767px){
	.description-section .description,.description-section .healthbenefits,.description-section .othersays,.description-section .recipes{width:100%;margin-left:0px;margin-right:0px;}
	.description-section .left-icon, .description-section .right-desp{width:100%;min-height:unset;}
	.description-section .left-icon{background-image:none !important;}
	.description-section .left-icon h3{margin-bottom:0px;}
}


@media only screen and (min-width:767px){
	#left-column{padding-left:0px !important;}
	/*#search_filters, #search_filters_brands, #search_filters_suppliers {padding-left:0px;}*/
}

@media only screen and (min-width:1366px){
#index #bannersection .carousel .carousel-item .caption{bottom:auto;top:35%;left:50%;-webkit-transform: translate(-50%,-20%);transform: translate(-50%,-20%);text-align:center;}
}

@media only screen and (min-width:1600px){
#index #bannersection .carousel .carousel-item .caption{bottom:auto;left:50%;-webkit-transform: translate(-50%,-40%);transform: translate(-50%,-40%);text-align:center;}
}

@media only screen and (min-width:320px) and (max-width:1200px) {
 #bannersection {
  margin-bottom: 20%;
  height: 350px;
  background-image: url(modules/ps_imageslider/images/36ebb97…_goodfood-banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
 }
 #index #bannersection .carousel, #index #bannersection .carousel .carousel-inner {
  height:auto ;
 }
 #index #bannersection .carousel .carousel-item img {
    display:none; 
}
#index #custom-text {
  top: 78%;
}
#index #bannersection .carousel, #index #bannersection .carousel .carousel-inner {height: 100%;}
#index #bannersection .carousel .carousel-item .caption {top: 33% !important;}
#index #bannersection .carousel .carousel-item .caption h2  {font-size: 30px;}
#index #search_widget input[type="text"] {width: 70%;min-height: 40px;}
}


@media only screen and (min-width:320px) and (max-width:420px) {#index #bannersection .carousel .carousel-item .caption {width:100%;} #index  #bannersection { background-image: url(/img/banner-420.jpg);}}
@media only screen and (min-width:421px) and (max-width:600px) {#index #bannersection{height: 420px;} #index  #bannersection { background-image: url(/img/568.jpg);}}
@media only screen and (min-width:600px) and (max-width:800px) {#index #bannersection{height: 325px;} #index  #bannersection { background-image: url(/img/banner-800.jpg);}}
@media only screen and (min-width:800px) and (max-width:1200px) {#index #bannersection{height: 420px;} #index  #bannersection { background-image: url(/img/banner-1023.jpg);}}

/*27-07-2019*/
#new_comment_form #id_new_comment_form .product.clearfix{display:none;}
#new_comment_form_error li {color:red;font-weight: bold;}
#new_comment_form_error{text-align: center;}
#_desktop_top_menu{margin-top: 13px;}
/*27-07-2019*/
/*29-08-2019*/
.product-reference,.product-features{display:none!important;}
/*29-08-2019*/
/*30-08-2019*/
body#checkout #header .header-nav{max-height: unset !important ;padding: unset !important;border: unset !important;margin-bottom: unset !important;box-shadow: unset !important;margin-bottom: 10px;border-bottom: 1px solid #f7f7f7;}
/*30-08-2019*/
/*03-9-2019*/
@font-face {
    font-family: 'Bamini Plain';
    font-style: normal;
    font-weight: normal;
    src: local('Bamini Plain'), url('Bamini.woff') format('woff');
    }
/*03-9-2019*/
.diwali-offer img {
    max-width: 100%;
    margin-bottom: 1.5em;
}
/* #header .menu>ul>li:not(#lnk-blog){display:inline-block} */
@media screen and (max-device-width: 640px){
    #top-menu .category 
    { 
    display:block !important; 
}
    }
    #top-menu .category 
    { 
    display:none; 
}







/* cc style start  */
img { max-width: 100%; height: auto; }

.cc-container { width: 95%;margin: 0 auto; }
.cc-fx-row { display: flex; }
.cc-jc-sb  { justify-content: space-between; }
.cc-col-3 { width: 25%; }
.cc-col-4  { width:33.33%; }
.cc-col-6  { width: 50%; }
.cc-col-8  { width: 66.67%;}
.cc-col-12 { width: 100%; }


/* menu style */

.cc-header-menu { position:relative; z-index:2; }

@media only screen and (min-width: 768px) {
  .cc-menu ul                { list-style: none; margin-bottom: 0; } 
  .cc-menu > nav > ul        { display: -webkit-box; display: -ms-flexbox; display: flex; }
  .cc-menu ul li             { cursor: pointer; /*position: relative; padding: 25px 20px 33px 20px;*/ transition: padding ease-out 0.3s;}
  .cc-menu ul li a           { text-decoration: none; color: #333; }
  .cc-menu nav > ul > li::after { display: table; content: " "; height: 2px; width: 0; margin-top: 10px; background: #30b5d2; -webkit-transition: all 0.3s ease-out; transition: all 0.3s ease-out; }
  .cc-menu nav > ul > 
  li:hover::after            { width: 0; }
  .cc-menu ul li ul.cc-megamenu {left: 0; }
  .cc-menu ul li ul          { position: absolute; top: 50px; display: none; -webkit-transform: translateY(0px); transform: translateY(0px); z-index: 33;} 
  .cc-menu ul li ul li       { padding: 8px; background: #fff; min-width: 180px; font-size: 14px; }
  .cc-menu ul li:hover > ul  { display: block; -webkit-animation: menuSlide 0.3s ease-out forwards; animation: menuSlide 0.3s ease-out forwards; } 
  .cc-menu ul li > ul li ul  { left: 100%; top: 0; } 
  .cc-mobile-logo            { display: none; }
  
  @-webkit-keyframes menuSlide { 0%   { opacity: 0; } 50%  { opacity: 0.5; } 100% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); } }
  @keyframes menuSlide { 0%   { opacity: 0; } 50%  { opacity: 0.5; } 100% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); } }
}

@media only screen and (max-width: 767px) {

  .cc-mobile-logo              { display: flex; justify-content: center; align-items: center; height: 85px; width: 170px; background: #fff; border-radius: 50%; margin: 2% auto 20px auto; -webkit-box-shadow: -1px 3px 10px #f7f7f7; box-shadow: -1px 3px 10px #f7f7f7; }
  .cc-mobile-logo img          { width: 50%; }
  .cc-mobile-burger-menu       { position: relative; z-index: 334; margin: 0 10px; }
  .cc-menu                     { position: fixed; max-width: 100%; height: 100%; background: #fff; top: 0; left: -100%; padding: 10px 0px; z-index: 333; -webkit-box-shadow: 0px 0px 7px #e4e4e4; box-shadow: 0px 0px 7px #e4e4e4; -webkit-transition: left ease-out 0.4s; transition: left ease-out 0.4s; }
  .cc-menu nav                 { min-width: 300px; height: calc(100vh - 120px); overflow: auto; background: #f8f8f8; }
  .cc-menu ul                  { list-style: none; }
  .cc-menu ul li               { margin: 10px 0 10px 10px; position: relative; }
  .cc-menu ul li a             { text-decoration: none; padding: 5px; display: inline-block; color: #333; }
  ::-webkit-scrollbar          { width: 3px; }
  ::-webkit-scrollbar-thumb    { background: #eaeaea; border-radius: 25%; }
  .cc-menu.menu-visible        { left: 0; }
  .cc-menu > nav > ul > li     { margin: 15px; }
  .cc-menu > nav > ul > li ul  { display: none; }
  .cc-mobile-menu-wrapper      { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
  .cc-menu, 
  .cc-mobile-menu-wrapper      { width: 100%; -ms-flex-preferred-size: 100%; flex-basis: 100%; }
  li.cc-has-submenu:after        { content: " "; display: block; height: 20px; width: 20px; background-image: url("/themes/child_classic/assets/images/down-arrow.png"); background-size: 15px; background-repeat: no-repeat; background-position: center; position: absolute; top: 0; right: 0; -webkit-transition: all cubic-bezier(0.45, 0.05, 0.55, 0.95) 0.3s; transition: all cubic-bezier(0.45, 0.05, 0.55, 0.95) 0.3s; }
  .cc-has-submenu.cc-rotate-icon::after { -webkit-transform: rotate(-180deg); transform: rotate(-180deg); }
  #nav-icon1                   { width: 25px; height: 18px; position: relative; margin: 15px auto; -webkit-transform: rotate(0deg); transform: rotate(0deg); -webkit-transition: .5s ease-in-out; transition: .5s ease-in-out; cursor: pointer; }
  #nav-icon1 span              { display: block; position: absolute; height: 2.5px; width: 100%; background: #80b435; border-radius: 9px; opacity: 1; left: 0; -webkit-transform: rotate(0deg); transform: rotate(0deg); -webkit-transition: .25s ease-in-out; transition: .25s ease-in-out; }
  #nav-icon1 span:nth-child(1) { top: 0px; }
  #nav-icon1 span:nth-child(2) { top: 7px; }
  #nav-icon1 span:nth-child(3) { top: 14px; }
  #nav-icon1.open 
  span:nth-child(1)            { top: 4px; -webkit-transform: rotate(135deg); transform: rotate(135deg); }
  #nav-icon1.open 
  span:nth-child(2)            { opacity: 0; left: -60px; }
  #nav-icon1.open 
  span:nth-child(3)            { top: 4px; -webkit-transform: rotate(-135deg); transform: rotate(-135deg); }
  #nav-icon1.open span         { background: #ff1f5d; }

}

/* mega Menu style start  */

.cc-megamenu-box.cc-megamenu-button-box { width: 20%; }
.cc-megamenu-box button.cc-gmp { position: relative; background: linear-gradient(180deg,#c1ff67 0,#a9e254 20%,#6a9629); color: #fff; text-transform: uppercase; border-radius: 2rem; border: 0; font-weight: 600; margin: 2rem auto; box-shadow: 0 6px 15px 0px rgba(0, 0, 0, 0.17); font-size: 14px; line-height: 1.8rem; padding: 10px 25px; display: flex; cursor: pointer; justify-content: center; align-items: center; }
.cc-megamenu-box button.cc-gmp:hover { background: linear-gradient(180deg,#a8e255 0,#93c549 20%,#5f8c1b); }
.cc-megamenu-box.cc-megamenu-button-box button img { width: 18px; margin-left: 10px !important; }

@media only screen and (min-width:768px) {
  .cc-white-header .cc-header-section  { background-color: #fff; }
  .cc-megamenu { width: 100%; top: 92px !important; background: #ffffff; box-shadow: 0px 3px 4px #dcdcdc;; transition: top ease-out 0.3s; padding: 13px 0 0px; }
  .cc-wrap-megamenu { padding:0 !important; display: flex; flex-wrap: wrap; align-items: center; width: 100%; background-color: #fff !important; max-width: 95%; margin: 0 auto; margin-bottom: 30px; }
  .cc-header-section.fixed  .cc-menu nav > ul > li { padding: 15px 20px 0px 20px; } 
  .cc-menu ul li ul.cc-megamenu li > div { width: 20%; text-align: center; padding-bottom: 25px; margin: 0; }
  .cc-menu ul li ul.cc-megamenu li > div:hover:not(.cc-megamenu-button-box) { box-shadow: 0px 4px 8px #d3d3d39c; }

  .cc-menu ul li ul.cc-megamenu .cc-megamenu-box .cc-img-wrapper h3 { transform: scale(0.9);   }
  .cc-menu ul li ul.cc-megamenu .cc-megamenu-box:hover .cc-img-wrapper h3{     transform: scale(1);text-shadow: 2px 2px 1px #74ff69a6; }

  .cc-menu ul li ul.cc-megamenu li > div .cc-desk-icon { transform: scale(0.90); transition: transform linear 0.14s; }
  .cc-menu ul li ul.cc-megamenu li > div:hover .cc-desk-icon { transform: scale(1); }
  .cc-header-section.fixed   .cc-megamenu { top: 60px !important; border-top: 1px solid #eaeaea; }
  .cc-menu ul li ul.cc-megamenu li { border-bottom: 1px solid #e2e2e2; }
  .cc-menu ul li ul.cc-megamenu li:last-child { border-bottom: 0; }
  .cc-wrap-megamenu:last-child{ margin-bottom: 0px; }
  .cc-megamenu-box img { max-width: 68% !important; margin: 0 auto !important; }
  .cc-megamenu-wrapper .cc-megamenu-box a .cc-img-wrapper img.cc-desk-icon { display: block; }
  .cc-megamenu-wrapper .cc-megamenu-box a .cc-img-wrapper img.cc-mob-icon { display: none; } 
  .cc-megamenu-box h3  { text-transform: uppercase; margin-top: 12px; font-weight: normal; font-size: 20px; }
}


@media only screen and (max-width:767px) { 
  .cc-megamenu-wrapper .cc-megamenu-box a{ display: block; width: 100%; padding: 0; }
  .cc-megamenu-wrapper .cc-megamenu-box a .cc-img-wrapper{ display: flex; align-items: center; }
  html body .cc-wrap-megamenu { margin: 0; }
  ul.cc-megamenu.cc-submenu { padding-left: 10px; border-top: 1px solid #d3d3d3; margin-top: 10px; margin-bottom: 10px; border-bottom: 1px solid #d3d3d3; }
  .cc-megamenu-wrapper .cc-megamenu-box a .cc-img-wrapper img{ max-width: 42px; }
  .cc-megamenu-wrapper .cc-megamenu-box a .cc-img-wrapper img.cc-desk-icon { display: none; }
  .cc-megamenu-wrapper .cc-megamenu-box a .cc-img-wrapper img.cc-mob-icon { display: block; position: relative; top: -5px; } 
  .cc-megamenu-wrapper .cc-megamenu-box a .cc-img-wrapper h3{ font-size: 15px; letter-spacing: .6px; color: #333; text-transform: capitalize; margin-left: 10px; font-weight: normal; flex-grow: 2; border-bottom: 1px solid lightgrey; padding: 15px 0; }
  .cc-megamenu-wrapper .cc-wrap-megamenu:last-child .cc-megamenu-box:last-child a .cc-img-wrapper h3 { border-bottom: 0px; }
  .cc-megamenu-box.cc-megamenu-button-box { width: 100%; }
}
  
/* mega Menu style end */




/* correction style start */

.cc-megamenu { z-index: 333; }
.header-nav { position: relative; }
.col-md-9.right-nav{ position: unset; }


@media only screen and (min-width:768px) {
    .cc-menu ul li.cc-megamenu-wrapper { height: 3rem; margin-left: .9375rem; text-align: center; white-space: nowrap; line-height: 28px; margin-left: 0; }/*padding: 0.75rem;*/
    .cc-mobile-nav-section { display: none; }

}

@media only screen and (max-width:767px) {
    .cc-mobile-nav-section { display: block; }
    .cc-mobile-nav-section .cc-menu-close { position: absolute; top: 18px; right: 15px; max-width: 16px; }
    #_mobile_language_selector .language-selector-wrapper { display: flex; align-items: center; }
    #_mobile_language_selector .language-selector-wrapper .language-selector { margin-left: 10px; border: 1px solid lightgrey; padding: 1px; font-size: 13px; }
    #_mobile_contact_link #contact-link span { margin-left: 30px; }
    #_mobile_contact_link #contact-link span:first-child { margin-left: 0; }

    .header-nav .hidden-sm-down { display: none; }
    .header-nav .hidden-md-up.mobile { display: block; }

    .cc-mobile-nav-section nav > ul{ display: flex; flex-direction: column; }

    .cc-menu ul li.cc-megamenu-wrapper > a { font-weight: normal; }

}

/* correction style end  */


/* 02-11-2019  */



@media only screen and (min-width:767px) {
    #header .header-nav .user-info  , #header .header-nav .language-selector , .right-nav #_desktop_top_menu{ margin: 0; } 
    #header .header-nav .blockcart{ margin: 0; padding: 0; }
    #header .header-nav .user-info { display: flex; position: relative; top: 2px; }
    .right-nav #_desktop_top_menu a , #_desktop_language_selector .language-selector-wrapper , #_desktop_user_info .user-info > a, #_desktop_cart .header { 
        height: 3rem; padding: 0.75rem; margin-left:0 !important; text-align: center; white-space: nowrap; line-height: 28px; font-size: 14px;
    }
    #header .header-nav .user-info a , #header .header-nav .language-selector button { display: flex; justify-content: space-around; align-items: center; min-width: 85px;}
    #header .header-nav .blockcart .header { display: flex; justify-content: space-between; align-items: center; } 
    .header-nav .hidden-md-up.mobile h1 { text-align: center; } 
    #header .header-nav .user-info a { font-weight: bold; }
    .cc-menu ul li.cc-megamenu-wrapper > a {font-size: 14px;}
}

@media only screen and (max-width:767px) {
    #header .header-nav .top-logo { text-align: left; width: auto; }

    .top-logo a { left: 4%; position: relative; }
    .cc-cart-notempty .top-logo  a { position: relative; left: 8%;; }
    #header .header-top .col-md-10.col-sm-12.position-static ,
    #header .header-top .col-md-10.col-sm-12.position-static #search_widget{ width: 100%; }

    #_mobile_user_info , #_mobile_cart .blockcart{ height: 50px; display: flex; justify-content: center; align-items: center; }

    .cc-mobile-nav-section .cc-menu ul li a >  img{ height: 20px; width: 20px; margin-right: 5px; }

    #header .header-nav .user-info { margin-top: 0; } 

    #new_comment_form { width: 100%; }
    #new_comment_form #criterions_list label { min-width: 46px; margin-left: 0;  }
    #new_comment_form_footer #html_element { transform: scale(0.9); margin-left: -17px; }

    #submitNewMessage { margin-left: 0; margin-top: 10px; }
    #new_comment_form_footer .fr a[onclick='$.fancybox.close();'] { text-transform: uppercase; font-weight: 600; padding: .5rem 1.25rem; margin-top: 10px; display: inline-block; background: #ff5f5f; color: #fff; position: relative; top: 6px; margin-left: 3px; }

    #index #custom-text { top: 60%; }

}


@media only screen and (max-width:374px) {
    #new_comment_form_footer #html_element{
        transform: scale(0.7);
        margin-left: -38px;
    }

    #new_comment_form div.star { width: 30px; height: 30px; }
}


/* 02-11-2019  */




/* cc style end  */


.cc-cart-count { position: absolute; top: -8px; left: 10px; height: 20px; width: 20px; background: #80b435; display: flex; justify-content: center; align-items: center; border-radius: 50px; font-size: 13px; color: #fff; }
body#product .breadcrumb ol li:not(:nth-child(3)) a{font-weight: bold;}
body#product .breadcrumb ol li:not(:nth-child(3)) a:hover{font-weight: bold;color: #2fb5d2;text-decoration: underline;}
body#category .breadcrumb ol li:not(:nth-child(2)) a{font-weight: bold;}
body#category .breadcrumb ol li:not(:nth-child(2)) a:hover{font-weight: bold;color: #2fb5d2;text-decoration: underline;}
body#search .breadcrumb ol li:not(:nth-child(2)) a{font-weight: bold;}
body#search .breadcrumb ol li:not(:nth-child(2)) a:hover{font-weight: bold;color: #2fb5d2;text-decoration: underline;}
body .cc-back-to-search{font-weight: bold;}
body .cc-back-to-search:hover{font-weight: bold;color: #2fb5d2 !important;text-decoration: underline;}
body#cart .cart-container .product-line-info a{font-weight: bold;}
body#cart .cart-container .product-line-info a.label{text-decoration: underline;color:#2fb5d2}
/*Product page ul li cities*/
.cc-custom-links-products .cc-custom-link-title-custom .cc-list-li{width: 24%;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;margin-left: 1%;float: left;margin-bottom: 15px;display: inline-block;text-align: left;}
/*Product page ul li cities end*/

#blog{ background-color:#f6f6f6; }
#blog .carousel-indicators { bottom: -60px; }
#blog .carousel-indicators li{ background-color: #5db4c0; height: 13px; width: 13px; margin: 5px; }
#blog .carousel-indicators li.active{ background-color: #888383; }
#blog .card-block{ padding: 10px; } 
#blog .card{ background-color: #FFF; border: 1px solid #eceaea; margin: 20px 0px; }
.btn.btn-default { background-color: #fff;
    color: #4ab6d2;
    border-radius: 0;
    border: 2px solid #4ab6d2;
    padding: 11px 20px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;}
.cc-container-wrapper{max-width: unset !important;width: unset !important;}
.cc-megamenu-wrapper a{font-weight: bold}
.block-contact.col-md-4.links.wrapper .hidden-sm-down{color: #7a7a7a;cursor: pointer;font-size: .875rem;}
.cc-menu .cc-megamenu-wrapper a,#lnk-blog a{color:#000 !important}
.cc-menu .cc-megamenu-wrapper a:hover,#lnk-blog a:hover{color:#30b5d2 !important}
.cc-menu .cc-megamenu-wrapper .cc-megamenu .cc-megamenu-box a{color:#000 !important}
#_desktop_cart span{color:#000}


/* 15-11-2019  */

#header .header-nav > .container { max-width: 1600px; width: 100%; } 
#header .header-nav { background-color: #fff; padding: 1px 0 0px 0; max-height: 60px; box-shadow: 0 0px 10px rgba(0, 0, 0, 0.15); }
.cc-products-listing  .product-miniature .thumbnail-container{ margin: 12px 0; width: 250px; }
.cc-products-listing .products-section-title { margin: 15px 0; } 
.cc-products-listing .thumbnail-container img { max-height: 250px; max-width: 250px; }
.cc-products-listing .product-thumbnail { text-align: center; height: 250px; display: flex; justify-content: center; align-items: center; }
#featured-products  { margin-top: 45px; } 
.cc-hblog-section { margin-top: 30px; }
.cc-hblog-section .cc-container-wrapper { padding: 0; }
.cc-hblog-section .cc-container-wrapper > .row > .col-md-6 { padding-left: 0; padding-right: 0; }
.cc-title-sty { margin: 20px 0; text-align: center; text-transform: uppercase; display: flex; justify-content: center; align-items: center; }
.cc-title-sty::after , .cc-title-sty::before { content: ""; display: block; height: 3px; width: 30px; background: #2fb5d2; margin: 0 10px; border-radius: 5px; }
.cc-clear-div { clear: both; }
.cc-prolisting-wrapper { margin-top: 35px; width: 100vw; position: relative; margin-left: -50vw; height: 100%; left: 50%; background: #fbf8f0; margin-right: 0; border-top: 1px solid #911236; }
.cc-prolisting-wrapper .cc-custom-link-title { padding-top: 35px; margin-bottom: 35px; font-size: 30px !important;}
.page-product footer#footer { margin-top: 0; }

#_desktop_language_selector { order: 8; }
.cc-menu ul li.cc-megamenu-wrapper > a { text-transform: uppercase; }

.cc-lang-select-section { order: 8; }


#_mobile_contact_link #contact-link span:first-child ,
#_desktop_contact_link #contact-link span:first-child { display: none; }
#_mobile_contact_link #contact-link span ,
#_desktop_contact_link #contact-link span { 
    padding-left: 27px; background-image: url("https://www.ulamart.com/themes/child_classic/assets/images/wa-icon.png"); 
    background-position: 0% -2px; background-repeat: no-repeat; background-size: 22px; height: 30px; display: block; margin-left: 0; align-items: center; font-size: 13px; text-decoration: underline;
}

#footer { padding: 0; margin: 0; }
.cc-payment-section-wrapper{ background-color: #fff; border-bottom: 1px solid #245385; margin-bottom: 45px; }
.cc-payment-section{ display: flex; flex-wrap: wrap; width: 1140px; max-width: 100%; margin: 0px auto; padding: 20px 15px; justify-content: center; }
.cc-payment-section .payment-section { width: 80px; border: 1px solid lightgrey; margin: 8px 6px; }



@media only screen and (max-width:767px) {
	#index #bannersection { background-image: unset; margin-bottom: 70px; height: 560px; } 
	#index #bannersection .carousel .carousel-item .caption h2 { position: relative;  } 
	.category-box a { margin-top: 8px; }
	body.page-index #wrapper .featured-products { padding: 0 !important; }
	.cc-products-listing .products article { width: 47%; }
	html body .cc-products-listing .thumbnail-container , html body .cc-products-listing .product-thumbnail { width: 100% !important; } 
	.cc-products-listing .product-description { width: 100%; }
    .cc-products-listing .thumbnail-container img { max-height: unset ; max-width: 100%; }
    .cc-products-listing .product-thumbnail { height: 210px; }
}


@media only screen and (max-width:567px) {
    #index #bannersection { margin-bottom:0px; height: 360px;  }
    .cc-payment-section .payment-section { width: 74px; }
}


@media only screen and (min-width:1200px) {
	.header-top { padding-top: 80px; }
    nav.header-nav { position: fixed; z-index: 333333; width: 100%; transition: all linear 0.3s; }

    .cc-payment-section { justify-content: space-between; }
    .cc-payment-section .payment-section:first-child { margin-left: 0; }
    .cc-payment-section .payment-section:last-child { margin-right: 0; }
}

@media only screen and (max-width:1199px) {
    .cc-payment-section{width: 666px; justify-content: center;}
}

.cc-recipe-menu a { font-style: italic; font-size: 15px !important; position: relative; top: -1px; font-weight: normal; }
#_desktop_cart { order: 7; }


/* 16-11-2019 */


.cc-products-listing .products-section-title , .cc-title-sty { font-size: 25px; }

#_desktop_language_selector .dropdown-menu { min-width: unset ; }

@media only screen and (max-width:767px) {
    .cc-prolisting-wrapper .cc-custom-link-title { font-size:25px !important; }
    .cc-custom-link-title-custom .custom-links-product { max-height: 400px; overflow: auto;; }
    .cc-custom-links-products .cc-custom-link-title-custom .cc-list-li { width: 49%; padding: 5px; }
}

@media only screen and (min-width:768px) {

    .cc-menu ul li ul.cc-megamenu  , .cc-menu ul li ul.cc-megamenu li , .cc-menu ul li ul , .cc-menu ul li ul li{ 
        background-color: #fbf8f0 !important; 
    }

    .cc-menu ul li.cc-downarrow >  a { position: relative; }
    .cc-menu ul li.cc-downarrow:hover >  a::after { 
        opacity: 1;
        border-top-color: #20bac6;
     }
}


/* 20-11-2019 */
#bannersection .carousel { box-shadow: unset; }
#cc-banner-cat-slider.owl-carousel .category-box { width: 100% !important; }
.owl-nav button { position: absolute; top: 50%; }
.owl-nav button span { font-size: 30px; }
.owl-nav button.owl-prev { left: -28px; transform: rotate(180deg); }
.owl-nav button.owl-next { right: -30px;}
.owl-nav button img { width: 30px; }
.cc-lang-select-section { border-top: 1px solid lightgrey; padding-top: 25px; }

.cc-products-listing .thumbnail-container img{ margin-left: 0; }
.cc-products-listing .featured-products .product-description ,
.cc-products-listing .product-miniature .product-description { width: 100%; }



#header .header-nav .cart-preview.active {
	background-color: transparent !important;
}

#header .header-nav .top-logo h1 {
	margin-bottom: 0px;
}

/* 22-11-2019 */

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 600px;
        margin: 114px auto;
    }
}

/* 22-11-2019 */
/* 27-12-2019 */
#checkout #customer-form .hide_and_show_div{display:none;}
#checkout #checkout-personal-information-step .nav-link.active{color: #30b5d2;}
/* 27-12-2019 */
/* 31-01-2020 */
.product-variants select#group_5 { border: 3px solid #2fb5d2;}
.product-variants .form-control:focus { outline: 0;}
html body .form-control-select { background: #f1f1f1 url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAQAAAD9CzEMAAAAPklEQVR4Ae3TwREAEBQD0V/6do4SXPZg7EsBhsQ8IEmSMOsiuEfg3gL3oXC7wK0bd1G4o8X9F4yIkyQfSrIByQBjp7QuND8AAAAASUVORK5CYII=") no-repeat scroll right  center/2.25rem 2.25rem;}
/* 31-01-2020 */ 
/* 05-02-2020 */
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {outline: 0;}
@media only screen and (max-width: 767px) { .owl-nav button img { width: 12px;}}

/* 29-02-2020 */
button.owl-dot:focus, .owl-nav button.owl-prev:focus, .owl-nav button.owl-next:focus { outline: none;}
.ss-content-1 h5, .ss-content-2 h5, .ss-content-3 h5, .ss-content-4 h5, .ss-content-5 h5,
.ss-content-6 h5, .ss-content-7 h5, .ss-content-8 h5, .ss-content-9 h5, .ss-content-10 h5, 
.ss-content-1 h4, .ss-content-2 h4, .ss-content-3 h4, .ss-content-4 h4, .ss-content-5 h4,
.ss-content-6 h4, .ss-content-7 h4, .ss-content-8 h4, .ss-content-9 h4, .ss-content-10 h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.38px;
  color: rgba(0, 0, 0, 0.87);
  text-align: center;
  margin: 10px 10px 0;
}
.ss-content-1 h4, .ss-content-2 h4, .ss-content-3 h4, .ss-content-4 h4, .ss-content-5 h4,
.ss-content-6 h4, .ss-content-7 h4, .ss-content-8 h4, .ss-content-9 h4, .ss-content-10 h4 { font-style: italic; font-size: 12px; margin: 0;}
.ss-content-p p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.58;
  letter-spacing: 0.38px;
  color: rgba(0, 0, 0, 0.87);
}
.ss-content-1, .ss-content-2, .ss-content-3, .ss-content-4, .ss-content-5, .ss-content-6,
.ss-content-7, .ss-content-8, .ss-content-9, .ss-content-10 {
  width: 100%;
  border-radius: 14px;
  background-color: #ffffff;
  margin: 10% 0;
}
.ss-pad { box-shadow: 2px 2px 5px 2px #00000026; border-radius: 14px;}
.ss-at {
  width: 25%;
  float: left;
  padding: 15px 13px 15px 0
}
.ss-content-p { 
  width: 75%;
  float: left;
}
.ss-carousel .owl-nav {
    display: none;
}
.ss-content-p p {
    padding: 15px 13px 15px 0;
}
@media only screen and (max-width: 767px) {
  .col-2, .col-3, .col-4, .col-5, .col-30, .col-70, .ss-content-1 , .ss-content-2 , .ss-content-3 , .ss-content-4 , .ss-content-5 ,
  .ss-content-6 , .ss-content-7 , .ss-content-8 , .ss-content-9 , .ss-content-10, .ss-gt { 
    width: 100%;
  }
  .ss-content-1 , .ss-content-2 , .ss-content-3 , .ss-content-4 , .ss-content-5 ,
  .ss-content-6 , .ss-content-7 , .ss-content-8 , .ss-content-9 , .ss-content-10 {
    margin: 5% 0;
  }
}
@media only screen and (min-width: 900px) {
  html body .owl-carousel .owl-item .ss-ig img {
    display: block;
    width: 70px;
    margin: auto;
    border-radius: 50%;
  }
  .ss-content-p p { text-align: justify;}
  .ss-pad { padding-top: 1%; padding-bottom: 1%; padding-right: 3%;}
}
@media only screen and (max-width: 899px) {
  .ss-pad { display: block; padding: 20px 0 10px;}
  .ss-at, .ss-content-p { width: 100%; padding: 0;}
  .ss-ht h5 { text-align: center; font-size: 12px;}
  .ss-ht h4 { text-align: center; font-size: 8px;}
  html body .owl-carousel .owl-item img { display: block; margin: auto; border-radius: 50%;}
  html body .customer-feedback .owl-carousel .owl-item img { width: 70px;}
  .ss-content-p p { padding: 0 8px; font-size: 10px;}
}
/* 29-02-2020 */
/* 02-03-2020 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}
.section-title {
    font-size: 25px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    font-weight: 700;
    display: inline-block;
    position: relative;
}

.section-title:after,
.section-title:before {
    content: '';
    position: absolute;
    bottom: 0;
}

.section-title:after {
    height: 2px;
    background-color: rgba(47, 181, 210, 0.46);
    left: 25%;
    right: 25%;
}

.section-title:before {
    width: 15px;
    height: 15px;
    border: 3px solid #fff;
    background-color: #26abc7;
    left: 50%;
    transform: translatex(-50%);
    bottom: -6px;
    z-index: 9;
    border-radius: 50%;
}

/* CAROUSEL STARTS */
html body .customer-feedback .owl-item img {
    width: 85px;
    height: 85px;
    object-fit: cover;
}
i.fa.fa-long-arrow-left {
    transform: rotate(180deg);
}
.feedback-slider-item {
    position: relative;
    padding: 60px;
    margin-top: -40px;
}

.customer-name {
    margin-top: 15px;
    margin-bottom: 25px;
    font-size: 18px;
    font-weight: 500;
}
.feedback-slider-item h4 {
    font-size: 16px;
    font-weight: 100;
    font-style: italic;
}
.feedback-slider-item p {
    font-size: 12px;
    line-height: 1.7;
    font-style: italic;
}
.feedback-slider-item p {
    line-height: 1.875;
}

.customer-rating {
    background-color: #eee;
    border: 3px solid #fff;
    color: rgba(1, 1, 1, 0.702);
    font-weight: 700;
    border-radius: 50%;
    position: absolute;
    width: 44px;
    height: 44px;
    line-height: 44px;
    font-size: 15px;
    right: 0;
    top: 77px;
    text-indent: -3px;
}

.thumb-prev .customer-rating {
    top: -20px;
    left: 0;
    right: auto;
}

.thumb-next .customer-rating {
    top: -20px;
    right: 0;
}

.customer-rating i {
    color: #facc6b;
    position: absolute;
    top: 10px;
    right: 5px;
    font-weight: 600;
    font-size: 10px;
}

/* GREY BACKGROUND COLOR OF THE ACTIVE SLIDER */
.feedback-slider-item:after {
    content: '';
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 0;
    top: 103px;
    background-color: #ffffff;
    /* border: 1px solid rgba(251, 90, 13, .1); */
    box-shadow: 2px 2px 12px 2px #5e5e5e26;
    border-radius: 10px;
    z-index: -1;
}
html body .owl-stage-outer {
    padding-bottom: 15px;
}
html body .customer-feedback .owl-nav button {
    position: relative;
    top: -60px;
}
.thumb-prev,
.thumb-next {
    position: absolute;
    z-index: 99;
    top: 45%;
    width: 98px;
    height: 98px;
    left: -90px;
    cursor: pointer;
    -webkit-transition: all .3s;
    transition: all .3s;
    border-radius: 50%;
}

.thumb-next {
    left: auto;
    right: -90px;
}

.feedback-slider-thumb img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    box-shadow: 2px 2px 10px 2px #c8cbcc9c;
}

.feedback-slider-thumb:hover {
    opacity: .8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

.customer-feedback .owl-nav [class*="owl-"] {
    position: relative;
    display: inline-block;
    bottom: 45px;
    transition: all .2s ease-in;
}

.customer-feedback .owl-nav i {
    background-color: transparent;
    color: #2fb5d2;
    font-size: 25px;
}

.customer-feedback .owl-prev {
    left: -15px;
}

.customer-feedback .owl-prev:hover {
    left: -20px;
}

.customer-feedback .owl-next {
    right: -15px;
}

.customer-feedback .owl-next:hover {
    right: -20px;
}

/* DOTS */
.customer-feedback .owl-dots {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 55px;
}

.customer-feedback .owl-dot {
    display: inline-block;
}

.customer-feedback .owl-dots .owl-dot span {
    width: 11px;
    height: 11px;
    margin: 0 5px;
    background: #fff;
    border: 1px solid #2fb5d2;
    display: block;
    -webkit-backface-visibility: visible;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    border-radius: 50%;
}

.customer-feedback .owl-dots .owl-dot.active span {
    background-color: #2fb5d2;
}

/* RESPONSIVE */
@media screen and (max-width: 767px) {
    .feedback-slider-item:after {
        left: 30px;
        right: 30px;
    }

    .customer-feedback .owl-nav [class*="owl-"] {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin-top: 45px;
        bottom: auto;
    }

    .customer-feedback .owl-prev {
        left: 0;
    }

    .customer-feedback .owl-next {
        right: 0;
    }

}

/* extra */
.copyright {
    text-align: center;
    margin-top: 30px;
    font-size: 1.6rem;
    background-color: #eee;
}

.copyright a {
    display: inline-block;
    padding: 10px 2px;
}

.upwork {
    color: #37a000;
}

.upwork:after {
    content: '/';
    margin-left: 10px;
}

.fiverr {
    color: #1dbf73;
}

.copyright .triplebyte {
    display: block;
    padding-top: 0;
    color: #344759;
    text-decoration: underline;
}
@media only screen and (max-width: 767px) {
    .customer-feedback .owl-nav, .hidden-xs {display: none;}
    .customer-name { font-size: 16px;}
}
.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}
img {
    max-width: 100%;
}
img {
    vertical-align: middle;
    border: 0;
}
.img-circle {
    border-radius: 50%;
}
.text-center {
    text-align: center;
}
.row {
	margin-right: -15px;
	margin-left: -15px
}

.col-lg-6,
.col-md-6,
.col-sm-6,
.col-sm-8,
.col-xs-12 {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px
}
@media (min-width: 601px) {
	
	.col-sm-offset-2 {
		margin-left: 16.66666667%
	}
}
@media (min-width: 992px) {
	.col-md-offset-3 {
		margin-left: 25%
	}
}
.animated{-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both}.animated.infinite{-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite}.animated.hinge{-webkit-animation-duration:2s;animation-duration:2s}.animated.bounceIn,.animated.bounceOut,.animated.flipOutX,.animated.flipOutY{-webkit-animation-duration:.75s;animation-duration:.75s}
.animated.flip{-webkit-backface-visibility:visible;backface-visibility:visible;-webkit-animation-name:flip;animation-name:flip}
@-webkit-keyframes zoomIn{0%{opacity:0;-webkit-transform:scale3d(.3,.3,.3);transform:scale3d(.3,.3,.3)}50%{opacity:1}}@keyframes zoomIn{0%{opacity:0;-webkit-transform:scale3d(.3,.3,.3);transform:scale3d(.3,.3,.3)}50%{opacity:1}}.zoomIn{-webkit-animation-name:zoomIn;animation-name:zoomIn}@-webkit-keyframes zoomInDown{0%{opacity:0;-webkit-transform:scale3d(.1,.1,.1) translate3d(0,-1000px,0);transform:scale3d(.1,.1,.1) translate3d(0,-1000px,0);-webkit-animation-timing-function:cubic-bezier(.55,.055,.675,.19);animation-timing-function:cubic-bezier(.55,.055,.675,.19)}60%{opacity:1;-webkit-transform:scale3d(.475,.475,.475) translate3d(0,60px,0);transform:scale3d(.475,.475,.475) translate3d(0,60px,0);-webkit-animation-timing-function:cubic-bezier(.175,.885,.32,1);animation-timing-function:cubic-bezier(.175,.885,.32,1)}}@keyframes zoomInDown{0%{opacity:0;-webkit-transform:scale3d(.1,.1,.1) translate3d(0,-1000px,0);transform:scale3d(.1,.1,.1) translate3d(0,-1000px,0);-webkit-animation-timing-function:cubic-bezier(.55,.055,.675,.19);animation-timing-function:cubic-bezier(.55,.055,.675,.19)}60%{opacity:1;-webkit-transform:scale3d(.475,.475,.475) translate3d(0,60px,0);transform:scale3d(.475,.475,.475) translate3d(0,60px,0);-webkit-animation-timing-function:cubic-bezier(.175,.885,.32,1);animation-timing-function:cubic-bezier(.175,.885,.32,1)}}.zoomInDown{-webkit-animation-name:zoomInDown;animation-name:zoomInDown}@-webkit-keyframes zoomInLeft{0%{opacity:0;-webkit-transform:scale3d(.1,.1,.1) translate3d(-1000px,0,0);transform:scale3d(.1,.1,.1) translate3d(-1000px,0,0);-webkit-animation-timing-function:cubic-bezier(.55,.055,.675,.19);animation-timing-function:cubic-bezier(.55,.055,.675,.19)}60%{opacity:1;-webkit-transform:scale3d(.475,.475,.475) translate3d(10px,0,0);transform:scale3d(.475,.475,.475) translate3d(10px,0,0);-webkit-animation-timing-function:cubic-bezier(.175,.885,.32,1);animation-timing-function:cubic-bezier(.175,.885,.32,1)}}@keyframes zoomInLeft{0%{opacity:0;-webkit-transform:scale3d(.1,.1,.1) translate3d(-1000px,0,0);transform:scale3d(.1,.1,.1) translate3d(-1000px,0,0);-webkit-animation-timing-function:cubic-bezier(.55,.055,.675,.19);animation-timing-function:cubic-bezier(.55,.055,.675,.19)}60%{opacity:1;-webkit-transform:scale3d(.475,.475,.475) translate3d(10px,0,0);transform:scale3d(.475,.475,.475) translate3d(10px,0,0);-webkit-animation-timing-function:cubic-bezier(.175,.885,.32,1);animation-timing-function:cubic-bezier(.175,.885,.32,1)}}.zoomInLeft{-webkit-animation-name:zoomInLeft;animation-name:zoomInLeft}@-webkit-keyframes zoomInRight{0%{opacity:0;-webkit-transform:scale3d(.1,.1,.1) translate3d(1000px,0,0);transform:scale3d(.1,.1,.1) translate3d(1000px,0,0);-webkit-animation-timing-function:cubic-bezier(.55,.055,.675,.19);animation-timing-function:cubic-bezier(.55,.055,.675,.19)}60%{opacity:1;-webkit-transform:scale3d(.475,.475,.475) translate3d(-10px,0,0);transform:scale3d(.475,.475,.475) translate3d(-10px,0,0);-webkit-animation-timing-function:cubic-bezier(.175,.885,.32,1);animation-timing-function:cubic-bezier(.175,.885,.32,1)}}@keyframes zoomInRight{0%{opacity:0;-webkit-transform:scale3d(.1,.1,.1) translate3d(1000px,0,0);transform:scale3d(.1,.1,.1) translate3d(1000px,0,0);-webkit-animation-timing-function:cubic-bezier(.55,.055,.675,.19);animation-timing-function:cubic-bezier(.55,.055,.675,.19)}60%{opacity:1;-webkit-transform:scale3d(.475,.475,.475) translate3d(-10px,0,0);transform:scale3d(.475,.475,.475) translate3d(-10px,0,0);-webkit-animation-timing-function:cubic-bezier(.175,.885,.32,1);animation-timing-function:cubic-bezier(.175,.885,.32,1)}}.zoomInRight{-webkit-animation-name:zoomInRight;animation-name:zoomInRight}@-webkit-keyframes zoomInUp{0%{opacity:0;-webkit-transform:scale3d(.1,.1,.1) translate3d(0,1000px,0);transform:scale3d(.1,.1,.1) translate3d(0,1000px,0);-webkit-animation-timing-function:cubic-bezier(.55,.055,.675,.19);animation-timing-function:cubic-bezier(.55,.055,.675,.19)}60%{opacity:1;-webkit-transform:scale3d(.475,.475,.475) translate3d(0,-60px,0);transform:scale3d(.475,.475,.475) translate3d(0,-60px,0);-webkit-animation-timing-function:cubic-bezier(.175,.885,.32,1);animation-timing-function:cubic-bezier(.175,.885,.32,1)}}@keyframes zoomInUp{0%{opacity:0;-webkit-transform:scale3d(.1,.1,.1) translate3d(0,1000px,0);transform:scale3d(.1,.1,.1) translate3d(0,1000px,0);-webkit-animation-timing-function:cubic-bezier(.55,.055,.675,.19);animation-timing-function:cubic-bezier(.55,.055,.675,.19)}60%{opacity:1;-webkit-transform:scale3d(.475,.475,.475) translate3d(0,-60px,0);transform:scale3d(.475,.475,.475) translate3d(0,-60px,0);-webkit-animation-timing-function:cubic-bezier(.175,.885,.32,1);animation-timing-function:cubic-bezier(.175,.885,.32,1)}}.zoomInUp{-webkit-animation-name:zoomInUp;animation-name:zoomInUp}
@media only screen and (min-width: 768px) {
    .feedback-slider-item p { height: 65px;}
}
@media only screen and (min-width: 375px) and (max-width: 767px) {
    .feedback-slider-item p { height: 125px;}
}
@media only screen and (max-width: 374px) {
    .feedback-slider-item p { height: 150px;}
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .col-md-offset-3 { margin-left: 25%;}
}
/* 02-03-2020 */
.alert {
  padding: 20px;
  background-color: #ff9800;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
/* 04-04-2020 */
#index #bannersection .carousel .carousel-item img {
    height: 62vh;
    object-fit: cover;
}
#bannersection { background: #ffffff;}
#bannersection div#search_widget input[type="text"] {
    display: none;
}
/* 04-04-2020 */
/* 06-04-2020 */
@media only screen and (min-width: 768px) {
    #header .logo { max-width: 210%;}
    #header .header-nav { max-height: 105px; height: 160px;}
    nav.header-nav .col-md-4.right-nav {
        margin-top: 50px;
    }
    nav.header-nav .col-md-4.right-nav .ss-menu {
        position: unset;
        top: -77%;
        right: 7%;
        background-color: #2fb5d2;
        padding: 3px 12px 0px;
        color: #ffffff;
        margin: 8px auto 6px;
        order: 9;
    }
    div#_desktop_contact_link {
        position: absolute;
        top: -81%;
        right: 13px;
    }
    nav.header-nav .col-md-4.right-nav .ss-menu a {
        color: #ffffff !important;
        line-height: 28px;
        font-size: 14px;
        font-weight: bold;
    }
}
#index #search_widget input[type="text"], #category #search_widget input[type="text"], #search #search_widget input[type="text"], #product #search_widget input[type="text"], 
#authentication #search_widget input[type="text"], #password #search_widget input[type="text"], #my-account #search_widget input[type="text"], #identity #search_widget input[type="text"], 
#addresses #search_widget input[type="text"], #history #search_widget input[type="text"], #order-slip #search_widget input[type="text"], #discount #search_widget input[type="text"], 
#module-ps_emailalerts-account #search_widget input[type="text"], body#address #search_widget input[type="text"], body#cart #search_widget input[type="t